<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="my-4">Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div>
        <button class="btn btn-primary mr-2" role="button" type="button" (click)="prevPage()">Previous</button>
        <span>1 of 2</span>
        <button class="btn btn-primary ml-2" role="button" type="button" (click)="nextPage()">Next</button>
      </div>
    </div>
  </div>
</div>