<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="my-4">Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody *ngIf="currentPage">
          <tr *ngFor="let user of currentPage?.elements">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
      <div>
        <button 
            class="btn btn-primary mr-2" 
            role="button" 
            type="button"
            [disabled]="currentPage?.previous?.page > currentPage?.current?.page"
            (click)="prevPage()">
          Previous
        </button>
        <span>{{ currentPage?.current?.page }} of {{ currentPage.totalPages }}</span>
        <button 
            class="btn btn-primary ml-2" 
            role="button" 
            type="button"
            [disabled]="currentPage?.next?.page < currentPage?.current?.page"
            (click)="nextPage()">
          Next
        </button>
      </div>
    </div>
  </div>
</div>
